<%- include('header') %>
<nav class="navbar navbar-light pt-3 mb-4">
    <div class="container">
        <h1><a href="/" class="navbar-brand">RayokTailand</a></h1>
        <form class="d-flex">
            <% if (uid){ %>
                <a href="/user" class="btn btn-primary me-2">管理</a>
                <a href="/signout" class="btn btn-secondary">登出</a>
            <% } else { %>
                <a href="/signin" class="btn btn-primary me-2">登入</a>
                <a href="/signup" class="btn btn-secondary">註冊</a>
            <% } %>
        </form>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <form action="/msgbox" method="post">
                <div class="mb-3 fw-bold">
                    <label for="message" class="form-label">留言板</label>
                    <% if (uid && emailVerified){ %>
                        <textarea class="form-control" id="message" name="message" placeholder="寫下您的想法" rows='4' required></textarea>
                    <% } else if (uid){ %>
                        <textarea class="form-control" id="message" name="message" placeholder="您的信箱尚未驗證，驗證完成後請重新登入。" rows='4' disabled></textarea>
                    <% } else { %>
                        <textarea class="form-control" id="message" name="message" placeholder="尚未登入僅供瀏覽" rows='4' disabled></textarea>
                    <% } %>
                    
                </div>
                <div class="mb-3 mx-auto d-grid">
                    <% if (uid && emailVerified){ %>
                        <input type="submit" class="btn btn-primary" value="留言"/>
                    <% }else{ %>
                        <input type="submit" class="btn btn-primary" value="留言" disabled/>
                    <% } %>
                </div>
            </form>
            <% for (msgboxInfo in msgboxesInfo){ %>
                <div class="card border-0 rounded-0 border-bottom">
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted"><span style="font-size:0.8rem"><%= msgboxesInfo[msgboxInfo].username %><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                </svg></span><span style="font-size:0.6rem"><%= moment(msgboxesInfo[msgboxInfo].timestamp).fromNow() %></span>
                            </h6>
                        <p class="card-text"><%= msgboxesInfo[msgboxInfo].message %></p>
                        <p class="card-text">
                            <% if (msgboxesInfo[msgboxInfo].like.indexOf(uid) != -1){ %> 
                                <a href="/like/<%= msgboxesInfo[msgboxInfo].id %>"><i class="bi-hand-thumbs-up-fill" style="color:black;"></i></a>
                            <% } else { %>
                                <a href="/like/<%= msgboxesInfo[msgboxInfo].id %>"><i class="bi-hand-thumbs-up" style="color:black;"></i></a>
                            <% } %>
                            <span><%= msgboxesInfo[msgboxInfo].like.length %></span>
                            <a href="#" class="text-decoration-none ms-3" style="color:black;">回覆</a>
                        </p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
<%- include('footer') %>
