<%- include('header') %>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Admin</th>
                <th>Restaurant</th>
            </tr>
        </thead>
        <tbody>
            <% for (user in data){ %>
            <tr>
                <td><%= data[user].email %></td>
                <td><input type="checkbox" id="<%= user %>"" onchange="checkboxActive(this, 'admin')" <% if (data[user].admin){ %>checked<% } %>></td>
                <td><input type="checkbox" id="<%= user %>"" onchange="checkboxActive(this, 'restaurant')" <% if (data[user].restaurant){ %>checked<% } %>></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
<div class="position-fixed top-50 start-50 translate-middle-x p-3" style="z-index: 11">
    <div id="memberStatus" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Manage</strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-primary">
            Member status changed!!
        </div>
    </div>
</div>
<script>
    function checkboxActive(obj, key){
        let url = `/members?uid=${obj.id}&${key}=${obj.checked}`;
        let memberStatusToast = document.getElementById('memberStatus');
        let toast = new bootstrap.Toast(memberStatusToast);
        
        fetch(url);
        toast.show();
    }
</script>
<%- include('footer') %>