<%- include('header') %>
<nav class="navbar navbar-light pt-3 mb-4">
    <div class="container">
        <h1><a href="/" class="navbar-brand">RayokTailand</a></h1>
    </div>
</nav>
<% if (page == 'signin'){ %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2 class="mb-3 fs-4 fw-bold text-center">Signin</h2>
            <% if (error){ %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } %>
            <form action="/member/signin" method="post">
                <div class="mb-3 fw-bold">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="請輸入信箱" autofocus required />
                </div>
                <div class="mb-3 fw-bold">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="請輸入密碼" required />
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="remember" name="remember">
                    <label class="form-check-label" for="remember">
                        remember me
                    </label>
                </div>
                <div class="mb-3 mx-auto d-grid">
                    <input type="submit" class="btn btn-primary"value="登入" />
                </div>
                <p class="text-end fs-6">還沒有帳號嗎? <a href="/member/signup">Signup</a></p>
            </form>
        </div>
    </div>
</div>
<% } else if (page == 'signup') { %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="mb-3 fs-4 fw-bold text-center">註冊</h2>
                <% if (error){ %>
                    <div class="alert alert-danger" role="alert"><%= error %></div>
                <% } %>
                <form action="/member/signup" method="post">
                    <div class="mb-3 fw-bold">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="請輸入用戶名" autofocus required autocomplete="off" />
                    </div>
                    <div class="mb-3 fw-bold">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="請輸入信箱" required autocomplete="off"/>
                    </div>
                    <div class="mb-3 fw-bold">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="請輸入密碼" required autocomplete="off"/>
                    </div>
                    <div class="mb-3 mx-auto d-grid">
                        <input type="submit" class="btn btn-primary"value="註冊" />
                    </div>
                    <p class="text-end fs-6">已經註冊了嗎? <a href="/member/signin">登入</a></p>
                </form>
            </div>
        </div>
    </div>
<% } else if (page == 'user'){ %>
    <div class="container">
        你的姓名 <%= username %>
    </div>
<% } else if (page == 'success'){ %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="mb-3 fs-4 fw-bold text-center">สมัครสมาชิกสำเร็จ</h2>
                <h3><%= email %></h3>
                <p class="text-center">
                    <a href="/restaurant" class="btn btn-primary">Back to home</a>
                </p>
            </div>
        </div>
    </div>
<% } %>
<%- include('footer') %>