<%- include('header') %>
<% if (user) { %>
<% let itemStatistics = {}, dayStatistics = {}, categoryStatistics = {}, monthStatistics = {}, inflow = 0, outflow = 0 %>

<% for (day in data) {
    if (Object.keys(data[day].records).length !=0) {
        for (record in data[day].records) {
            if (!dayStatistics[day]) {dayStatistics[day] = 0};
            if (!categoryStatistics[data[day].records[record].category+day]) {categoryStatistics[data[day].records[record].category+day] = 0};
            if (!monthStatistics[data[day].records[record].category]) {monthStatistics[data[day].records[record].category] = 0};
            
            for (item in data[day].records[record].items) {
                if (!itemStatistics[data[day].records[record].items[item].item]) {itemStatistics[data[day].records[record].items[item].item] = 0};
                if (data[day].records[record].items[item].expin == "expense") {
                    itemStatistics[data[day].records[record].items[item].item] +=  -data[day].records[record].items[item].amount;
                    categoryStatistics[data[day].records[record].category+day] += -data[day].records[record].items[item].amount;
                    monthStatistics[data[day].records[record].category] += -data[day].records[record].items[item].amount;
                } else {
                    itemStatistics[data[day].records[record].items[item].item] +=  data[day].records[record].items[item].amount;
                    categoryStatistics[data[day].records[record].category+day] += data[day].records[record].items[item].amount;
                    monthStatistics[data[day].records[record].category] += data[day].records[record].items[item].amount;
                }
            }
            dayStatistics[day] += categoryStatistics[data[day].records[record].category+day];
        }
        if (dayStatistics[day] > 0){
            inflow += dayStatistics[day];
        } else {
            outflow += dayStatistics[day];
        }
    }
}%>

<% function amountFormat(amount) {
    if (isNaN(amount)){
        return '0 ฿'
    } else {
        return `${new Intl.NumberFormat().format(amount)} ฿`;
    }
} %>

<div class="container pt-3">
    <header class="mb-3">
        <!-- CHOOSE MONTH -->
        <form action="/restaurant" method="get" id="date">
            <input class="form-control mb-3" type="month" name="date" onchange="document.getElementById('date').submit()" value="<%= date[0]+'-'+date[1] %>">
        </form>
        <!-- /CHOOSE MONTH -->
        <!-- StatisticsTabls -->
        <ul class="nav nav-tabs" id="statisticsTabs">
            <li class="nav-item">
                <a class="nav-link active" href="javascript:;" onclick="switchTabs(this, 0)">Month</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" onclick="switchTabs(this, 1)" data-bs-toggle="collapse" data-bs-target="#collapseItemStatistics">Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" onclick="switchTabs(this, 2)">Categories</a>
            </li>
        </ul>
        <!-- /StatisticsTabls -->
        <!-- MONTH RECORD -->
        <table class="table table-hover statistics">
            <tbody>
                <tr>
                    <th class="ps-3">Inflow</th>
                    <td class="text-end pe-3"><%= amountFormat(inflow) %></td>
                </tr>
                <tr>
                    <th class="ps-3">Outflow</th>
                    <td class="text-end pe-3"><%= amountFormat(outflow) %></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th class="ps-3">Net Profit</th>
                    <td class="text-end pe-3">                
                        <% if (inflow+outflow > 0) { %>
                            <span class="fw-bold text-primary"><%= amountFormat(inflow + outflow) %></span>
                        <% } else if (inflow+outflow < 0) { %>
                            <span class="fw-bold text-danger"><%= amountFormat(inflow + outflow) %></span>
                        <% } else { %>
                            <span class="fw-bold"><%= amountFormat(inflow + outflow) %></span>
                        <% } %>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- /MONTH RECORD -->
        <!-- Items Statistics -->
        <table class="table statistics d-none">
            <tbody>
                <% for (let totalcost in itemStatistics) { %>
                <tr>
                    <th class="ps-3"><%= items[totalcost].name %></th>
                    <td class="text-end pe-3">
                        <% if (itemStatistics[totalcost] > 0) { %>
                            <span class="text-primary">+<%= amountFormat(itemStatistics[totalcost]) %></span>
                        <% } else if (itemStatistics[totalcost] < 0) { %>
                            <span class="text-danger"><%= amountFormat(itemStatistics[totalcost]) %></span>
                        <% } else { %>
                            <span><%= amountFormat(itemStatistics[totalcost]) %></span>
                        <% } %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <!-- /Items Statistics -->
        <!-- Categories Statistics -->
        <table class="table statistics d-none">
            <tbody>
                <% for (let totalcost in monthStatistics) { %>
                <tr>
                    <th class="ps-3"><%= categories[totalcost].name %></th>
                    <td class="text-end pe-3">
                        <% if (monthStatistics[totalcost] > 0) { %>
                            <span class="text-primary">+<%= amountFormat(monthStatistics[totalcost]) %></span>
                        <% } else if (monthStatistics[totalcost] < 0) { %>
                            <span class="text-danger"><%= amountFormat(monthStatistics[totalcost]) %></span>
                        <% } else { %>
                            <span><%= amountFormat(monthStatistics[totalcost]) %></span>
                        <% } %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <!-- /Categories Statistics -->
    </header>
    <!-- SHOW RECORDS -->
    <section>
        <% for (day in data) { %>
        <table class="table table-borderless">
            <thead class="table-primary">
                <!-- RECORD'S DATE -->
                <tr>
                    <th class="ps-3">
                        <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#addRecordModal" data-bs-addRecord="<%= moment(data[day].timestamp._seconds*1000).format("YYYY-MM-DD") %>">
                            <i class="bi bi-plus-circle"></i>
                        </button>
                        <%= moment(data[day].timestamp._seconds*1000).format('DD dddd YYYY MMMM') %>
                    </th>
                    <th class="text-end pe-3 align-middle">
                        <% if (dayStatistics[day] > 0) { %>
                            <span class="fw-bold text-primary"><%= amountFormat(dayStatistics[day]) %></span>
                        <% } else if (dayStatistics[day] < 0) { %>
                            <span class="fw-bold text-danger"><%= amountFormat(dayStatistics[day]) %></span>
                        <% } else { %>
                            <span class="fw-bold"><%= amountFormat(dayStatistics[day]) %></span>
                        <% } %>
                    </th>
                </tr>
                <!-- /RECORD'S DATE -->
            </thead>
            <tbody>
                <% for (record in data[day].records) { %>
                    <tr>
                        <td class="px-1">
                            <div class="accordion accordion-flush">
                                <div class="accordion-item">
                                    <!-- CATEGORY HEAD -->
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed ps-3 py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= day+record %>">
                                            <%= categories[data[day].records[record].category].name %>
                                        </button>
                                    </h2>
                                    <!-- /CATEGORY HEAD -->
                                    <!-- ITEM HEAD -->
                                    <div id="collapse<%= day+record %>" class="accordion-collapse collapse">
                                        <div class="accordion-body p-0">
                                            <ul class="list-group list-group-flush">
                                                <% for (item in data[day].records[record].items) { %>
                                                <li class="list-group-item d-flex justify-content-between p-3 fs-6">
                                                    <span class="text-capitalize">
                                                        <a href="javascript:;" class="me-2 text-danger" data-bs-toggle="modal" data-bs-target="#deleteItemModal" data-bs-deleteHref=<%= `/restaurant/deleteitem?deleteitem=${date[0]}-${date[1]}-0${day}-${record}-${item}` %>><i class="bi bi-x-circle"></i></a>
                                                        <%= items[data[day].records[record].items[item].item].name %>
                                                    </span>    
                                                    <% if (data[day].records[record].items[item].expin == "income") { %>
                                                    <span class="text-primary">+<%= amountFormat(data[day].records[record].items[item].amount) %></span>
                                                    <% } else { %>
                                                    <span class="text-danger">-<%= amountFormat(data[day].records[record].items[item].amount) %></span>
                                                    <% } %>
                                                </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /ITEM HEAD -->
                                </div>
                            </div>
                        </td>
                        <td class="text-end pe-3 align-middle py-0">
                            <span class="fs-6 w-25 text-end">
                                <%= amountFormat(categoryStatistics[data[day].records[record].category+day]) %>
                            </span>
                        </td>
                    </tr>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <textarea rows="2" class="form-control ps-2" placeholder="Write something here" oninput= "updateMemo(this, '<%= data[day].timestamp._seconds %>')"><%= data[day].memo %></textarea>
                    </td>
                </tr>
            </tfoot>
        </table>
        <% } %>
    </section>
    <!-- /SHOW RECORDS -->
</div>
<!-- Modal List -->
<!-- Add Record Modal -->
<div class="modal fade" id="addRecordModal" tabindex="-1" aria-labelledby="addRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <form id="addRecordForm" action="/restaurant?date=<%= date[0]+'-'+date[1] %>" method="post" class="pt-3">
        <div class="modal-header">
        <h5 class="modal-title" id="addRecordModalLabel">Add Record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <div class="d-flex expinRadio">
                    <div class="form-check me-3 mb-3">
                        <input class="form-check-input" type="radio" name="expin" id="expense" value="expense" checked>
                        <label class="form-check-label" for="expense">
                            Expense
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="expin" id="income" value="income">
                        <label class="form-check-label" for="income">
                            Income
                        </label>
                    </div>
                </div>
                <!-- ITEMS -->
                <select class="form-select mb-3" name="item" required>
                    <option selected value="">Select a item</option>
                    <% for (item in items) { %>
                        <option value="<%= item %>"><%= items[item].name %></option>
                    <% } %>
                </select>
                <!-- CATEGORIES -->
                <select class="form-select mb-3" name="category" required>
                    <option selected value="">Select a category</option>
                    <% for (category in categories) { %>
                        <option value="<%= category %>"><%= categories[category].name %></option>
                    <% } %>
                </select>
                <div class="input-group mb-3">
                    <input class="form-control" name="amount" type="number" required="required" placeholder="0">
                    <span class="input-group-text">฿</span>
                </div>
                <input class="form-control mb-3" name="date" type="date" value="" required="required">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="addRecordBtn" type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
    </div>
    </div>
</div>
<!-- /Add Record Modal -->
<!-- Delete Item Modal -->
<div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteItemModalLabel">Warning</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteItemBtn" href="" type="button" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Item Modal -->
<!-- /Modal List -->
<!-- Toast List -->
<div class="position-fixed top-50 start-50 translate-middle-x p-3" style="z-index: 11">
    <div id="updateMemoToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Notice</strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-primary">
            Memo updated!
        </div>
    </div>
</div>
<!-- /Toast List -->
<script>
    // Add Item Modal JS
    var addRecordModal = document.getElementById('addRecordModal')
    addRecordModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var recipient = button.getAttribute('data-bs-addRecord')
        var addRecordModalDate = addRecordModal.querySelector('[type=date]')
        addRecordModalDate.value = recipient;
    })
    // --Add Item Modal JS
    // Delete Item Modal JS
    var deleteItemModal = document.getElementById('deleteItemModal')
    deleteItemModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var recipient = button.getAttribute('data-bs-deleteHref')
        var modalDeleteButton = deleteItemModal.querySelector('.modal-footer .btn-danger')

        console.log(modalDeleteButton);

        modalDeleteButton.href = recipient;
    })
    // --Delete Item Modal JS

    //Update Memo
    var timer = null;
    function updateMemo(obj, timestamp){
        let url = `/restaurant/updateMemo?memo=${obj.value}&timestamp=${timestamp}`;
        clearTimeout(timer);
        timer = setTimeout(function(){
            fetch(url);
            let updateMemoToast = document.getElementById('updateMemoToast');
            let toast = new bootstrap.Toast(updateMemoToast);
            toast.show();
        },1000);
    }
    // -- Update Memo

    //Ignore double submit
    var addRecordForm = document.getElementById("addRecordForm");
    var addRecordBtn = document.getElementById("addRecordBtn");
    var deleteItemBtn = document.getElementById("deleteItemBtn");
    addRecordForm.addEventListener('submit', function (){
        addRecordBtn.disabled = true;
    })
    deleteItemBtn.addEventListener('click', function (){
        deleteItemBtn.classList.add('disabled');
    })
    // -- Ignore double submit

    //Switch Tabs
    var statisticsTabs = document.getElementById("statisticsTabs").getElementsByTagName("a");
    var statistics = document.getElementsByClassName('statistics');
    function switchTabs(obj, index){
        for (let i = 0; i<statisticsTabs.length; i++){
            statisticsTabs[i].classList.remove('active');
            statistics[i].classList.add('d-none');
        }
        obj.classList.add('active');
        statistics[index].classList.remove('d-none');
    }
    
    // -- Switch Tabs
</script>
<% } else { %>
    <div class="container">
        <header class="mb-3">
            <!-- CHOOSE MONTH -->
            <form action="/restaurant" method="get" id="date">
                <input class="form-control mb-3" type="month" name="date" value="<%= moment(new Date).format('YYYY-MM') %>" disabled>
            </form>
            <!-- /CHOOSE MONTH -->
            
            <!-- MONTH RECORD -->
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item d-flex justify-content-between"><span>Inflow</span><span>0</span></li>
                <li class="list-group-item d-flex justify-content-between"><span>Outflow</span><span>0</span></li>
                <li class="list-group-item d-flex justify-content-between mt-1"><span class="fw-bold"></span>
                    <span class="fw-bold">0</span>
                </li>
            </ul>
            <!-- /MONTH RECORD -->
            <!-- Items Statistics -->
            <div class="accordion mb-3" id="details">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItemStatistics" aria-expanded="false" aria-controls="collapseThree">
                        Items Statistics
                    </button>
                    </h2>
                    <div id="collapseItemStatistics" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body p-0">
                        <ul id="monthStatistics" class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span class="text-capitalize">Item</span>
                                    <span>0</span>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
            <!-- /Items Statistics -->
            <!-- Categories Statistics -->
            <div class="accordion" id="details">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Categories Statistics
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body p-0">
                        <ul id="monthStatistics" class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span class="text-capitalize">Category</span>
                                <span>0</span>
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
            <hr>
            <!-- /Categories Statistics -->
        </header>
        <section>
            <h3>You can not see this function of page, please contact admin.</h1>
        </section>  
    </div>
<% } %>
<%- include('footer') %>