<%- include('header') %>
<% let amount = 0, recordsIndex = [], totalAmount = {}, inflow = 0, outflow = 0 %>
<nav class="navbar navbar-light pt-3">
    <div class="container">
        <h1><a href="/restaurant" class="navbar-brand">RayokTailand</a></h1>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-plus-circle"></i>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <form action="/restaurant" method="post" class="pt-3">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Record</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <div class="d-flex expinRadio">
                            <div class="form-check me-3 mb-3">
                                <input class="form-check-input" type="radio" name="expin" id="expense" value="expense" checked>
                                <label class="form-check-label" for="expense">
                                    Expense
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="expin" id="income" value="income">
                                <label class="form-check-label" for="income">
                                    Income
                                </label>
                            </div>
                        </div>
                        <select class="form-select mb-3" name="category" required>
                            <option selected value="">Open this select menu</option>
                            <% for (let category in categories) { %>
                                <option value="<%= category %>"><%= categories[category].name %></option>
                            <% } %>
                        </select>
                        <div class="input-group mb-3">
                            <input class="form-control" name="amount" type="number" required="required">
                            <span class="input-group-text">฿</span>
                        </div>
                        <input class="form-control mb-3" name="date" type="date" value="<%- moment(new Date()).format('YYYY-MM-DD') %>" required="required">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                
            </form>
            </div>
            </div>
        </div>
        <div class="d-flex">
            <% if (uid){ %>
                <a href="/member/user" class="btn btn-primary me-2">จัดการ</a>
                <a href="/member/signout" class="btn btn-secondary">Signout</a>
            <% } else { %>
                <a href="/member/signin" class="btn btn-primary me-2">Signin</a>
                <a href="/member/signup" class="btn btn-secondary">Signup</a>
            <% } %>
        </div>
    </div>
</nav>
<div class="container pt-3">
    <header class="mb-3">
        <form action="/restaurant" method="get" id="date">
            <input class="form-control mb-3" type="month" name="date" onchange="document.getElementById('date').submit()" value="<%= date[0]+'-'+date[1] %>">
        </form>
        <% for (day in daysIndex) {
            for(record in days[daysIndex[day]].records) {
                if (!totalAmount[days[daysIndex[day]].records[record].category]) {
                    if (days[daysIndex[day]].records[record].expin == 'expense') {
                        totalAmount[days[daysIndex[day]].records[record].category] = -days[daysIndex[day]].records[record].amount
                        outflow += days[daysIndex[day]].records[record].amount;
                    } else {
                        totalAmount[days[daysIndex[day]].records[record].category] = days[daysIndex[day]].records[record].amount
                        inflow += days[daysIndex[day]].records[record].amount;
                    }
                } else {
                    if (days[daysIndex[day]].records[record].expin == 'income') {
                        totalAmount[days[daysIndex[day]].records[record].category] += days[daysIndex[day]].records[record].amount
                        inflow += days[daysIndex[day]].records[record].amount;
                    } else {
                        totalAmount[days[daysIndex[day]].records[record].category] -= days[daysIndex[day]].records[record].amount
                        outflow += days[daysIndex[day]].records[record].amount
                    }
                }
            }
        } %>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between"><span>Inflow</span><span>+ <%= new Intl.NumberFormat().format(inflow) %> ฿</span></li>
            <li class="list-group-item d-flex justify-content-between"><span>Outflow</span><span>- <%= new Intl.NumberFormat().format(outflow) %> ฿</span></li>
            <% if (outflow > inflow) { %>
                <li class="list-group-item d-flex justify-content-between"><span></span><span>- <%= new Intl.NumberFormat().format(outflow+inflow) %> ฿</span></li>
            <% } else { %>
                <li class="list-group-item d-flex justify-content-between"><span class="fw-bold">Total</span><span class="fw-bold">+ <%= new Intl.NumberFormat().format(inflow-outflow) %> ฿</span></li>
            <% } %>
        </ul>
        <hr>
        <div class="accordion" id="details">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Total cost of each item
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        <% for (monthRecord in totalAmount) { %>
                            <% if (totalAmount[monthRecord]>0) { %>
                            <li class="list-group-item d-flex justify-content-between"><span><%= categories[monthRecord].name %></span><span>+ <%= new Intl.NumberFormat().format(totalAmount[monthRecord]) %> ฿</span></li>
                            <% } else { %>
                            <li class="list-group-item d-flex justify-content-between"><span><%= categories[monthRecord].name %></span><span>- <%= new Intl.NumberFormat().format(Math.abs(totalAmount[monthRecord])) %> ฿</span></li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        <hr>
    </header>
    <section>
        <% for (let day in daysIndex) { %>
        <div class="card mb-3" >
            <div class="card-header d-flex justify-content-between">
                <span><%= moment(days[daysIndex[day]].time).format('DD dddd YYYY MMMM') %></span>
                <span class="amount">
                    <% for (let record in days[daysIndex[day]].records) {
                      if (days[daysIndex[day]].records[record].expin == 'expense'){
                        amount -= days[daysIndex[day]].records[record].amount;
                      } else {
                        amount += days[daysIndex[day]].records[record].amount;
                      }
                    } %>
                    <%= amount>0?'+'+new Intl.NumberFormat().format(amount):new Intl.NumberFormat().format(amount) %> ฿
                    <% amount = 0 %>
                </span>
            </div>
            <div class="card-body">
                <% for (let record in days[daysIndex[day]].records) {
                    recordsIndex.push(record);
                } %>
                <% recordsIndex.sort().reverse() %>

                <% for (let record in recordsIndex) { %>
                <div class="item d-flex justify-content-between pt-2 pb-2">
                    <h5 class="card-title">
                        <a href="restaurant/delete/<%= moment(days[daysIndex[day]].time).format('YYYY-MM-DD') + '-' + recordsIndex[record] %>">
                            <%= categories[days[daysIndex[day]].records[recordsIndex[record]].category].name %>
                        </a>
                    </h5>
                    <% if (days[daysIndex[day]].records[recordsIndex[record]].expin == 'expense') { %> 
                        <span class="text-danger"><%= new Intl.NumberFormat().format(days[daysIndex[day]].records[recordsIndex[record]].amount) %> ฿</span>
                    <% } else { %>
                        <span class="text-primary"><%= new Intl.NumberFormat().format(days[daysIndex[day]].records[recordsIndex[record]].amount) %> ฿</span>
                    <% } %>
                </div>
                <% } %>
                <% recordsIndex = [] %>
                <!-- <form action="/restaurant" method="post">
                    <div class="input-group">
                        <textarea class="form-control" aria-label="With textarea" name="memo">1234</textarea>
                        <button class="btn btn-primary" type="button" onclick="pressUpdate(this)">update</button>
                    </div>
                    <input class="d-none" type="date" value="12345" name="memoDate">
                </form> -->
            </div>
        </div>
        <% } %>
    </section>
</div>
<%- include('footer') %>