<% include ./template/blogHeader %>
<div class="row mb-3 justify-content-md-center">
  <div class="col-10">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#"><%- categories[article.category].name %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><%- article.title %></li>
      </ol>
    </nav>
  </div>
</div>
<div class="row mb-3 justify-content-md-center">
  <div class="col-md-7">
    <h1 class="text-primary"><%- article.title %></h1>
    <div class="d-flex flex-row text-secondary small mb-3">
      <span class="me-3"><i class="bi-person-fill me-1"></i>RAYOK</span>
      <span class="me-3"><%- moment(article.update_time * 1000).format('YYYY/MM/DD') %></span>
      <span class="me-3"><i class="bi-tag-fill me-1"></i>
        <a href="" class="text-info"><%- categories[article.category].name %></a>
      </span>
    </div>
    <article class="text-dark post mb-4">
      <%- article.content %>
    </article>
    <div class="card">
      <div class="card-header">
        留言回覆
      </div>
      <div class="card-body">
        <div class="d-flex mb-4">
          <div class="flex-shrink-0">
            <i class="bi-person-fill" style="font-size:64px; line-height:64px;"></i>
          </div>
          <div class="flex-grow-1 ms-3">
            <h5>RAYOK</h5>
            <div class="form-floating mb-3">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
              <label for="floatingTextarea2">Comments</label>
            </div>
            <div class="d-grid">
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-shrink-0">
            <i class="bi-person-fill" style="font-size:64px; line-height:64px;"></i>
          </div>
          <div class="flex-grow-1 ms-3">
            <h5>RAYOK</h5>
            This is some content from a media component. You can replace this with any content and adjust it as needed.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <h2 class="text-secondary">Tags</h2>
    <span class="badge bg-light text-dark"><i class="bi-tag-fill me-1"></i>Info</span>
    <span class="badge bg-light text-dark"><i class="bi-tag-fill me-1"></i>Info</span>
    <span class="badge bg-light text-dark"><i class="bi-tag-fill me-1"></i>Info</span>
    <span class="badge bg-light text-dark"><i class="bi-tag-fill me-1"></i>Info</span>
    <span class="badge bg-light text-dark"><i class="bi-tag-fill me-1"></i>Info</span>
    <span class="badge bg-light text-dark"><i class="bi-tag-fill me-1"></i>Info</span>
  </div>
</div>
<% include ./template/blogFooter %>