<% include dashboardHeader %>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/dashboard/">Blog 控制台</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-item nav-link active" href="archives.html">文章管理 </a>
        <a class="nav-item nav-link " href="categories.html">分類管理 </a>
        
      </div>
    </div>
    <a class="nav-link" href="#">登出</a>
</nav>
<div class="container my-4">
  <div class="w-100 btn-group">
    <a href="/blog/dashboard/archives?status=public" class="w-100 btn btn-outline-secondary <% if (status == 'public'){%> active <% } %>" aria-current="page">已發佈</a>
    <a href="/blog/dashboard/archives?status=draft" class="w-100 btn btn-outline-secondary <% if (status == 'draft'){%> active <% } %>">草稿</a>
    <a href="/blog/dashboard/article/create'" class="w-50 btn btn-primary">新增文章</a>
  </div>
<div>
  <% for(var prop in articles){ %>
    <div class="card my-3">
      <h4 class="card-header">
        <%- articles[prop].title %>
      </h4>
      <div class="card-body">
        <%- striptags(articles[prop].content).slice(0,150) %>...
        <div>
          <span class="fa fa-clock-o"></span>
          <%- moment(articles[prop].update_time * 1000).format('YYYY/MM/DD') %>
          ,
          <span class="fa fa-folder-open-o"></span>
          <span>
              <%- categories[articles[prop].category].name %>
          </span>
        </div>
      </div>
      <div class="card-footer p-0 btn-group">
        <a href="#" class="btn btn-outline-danger w-50 rounded-0 deletePost" data-id="<%- articles[prop].id %>" data-title="<%- articles[prop].title %>">刪除</a>
        <a href="#" class="btn btn-outline-secondary w-100 rounded-0">編輯</a>
        <a href="#" target="_blank" class="btn btn-outline-secondary w-100 rounded-0">預覽</a>
        
      </div>
    </div>
  <% } %>
</div>
</div>


<nav class="my-5" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="/dashboard/archives" tabindex="-1">Previous</a>
    </li>
    
      <li class="page-item active"> 
        <a class="page-link" href="/dashboard/archives">
          1
        </a>
      </li>
    
      <li class="page-item "> 
        <a class="page-link" href="/dashboard/archives">
          2
        </a>
      </li>
    
    <li class="page-item ">
      <a class="page-link" href="/dashboard/archives">Next</a>
    </li>
  </ul>
</nav>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast bg-primary text-white" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/icons/exclamation-triangle-fill.svg" class="rounded me-2" alt="logo_icon">
      <strong class="me-auto">提醒</strong>
      <small>just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      文章已刪除
    </div>
  </div>
</div>
<script>
  window.onload=function(){
    var toastTrigger = document.getElementById('liveToastBtn')
    var toastLiveExample = document.getElementById('liveToast')
    var toast = new bootstrap.Toast(toastLiveExample)

    $(document).ready(function(){
      $('.deletePost').on('click',function(e){
        e.preventDefault();
        var id = $(this).data('id');
        var title = $(this).data('title');
        if (confirm('確認是否刪除 ' + title)) {
          $.ajax({
            url: '/blog/dashboard/article/delete/'+id,
            method:'post'
          }).done(function(response){
            console.log(response);
            toast.show();
            window.location = '/blog/dashboard/archives'
          })
        }
    })
  })
}
</script>
<% include dashboardFooter %>
