<!DOCTYPE html>
<html lang="th">
<head>
  <%- include('head'); %>
</head>
<body class="body">
  <header class="mb-5" style="height:400px; background: no-repeat center url('/images/374185558-min.jpg'); background-size: cover;">
    <div class="d-flex flex-column" style="height:100%; background-color:rgba(0, 0, 0, 0.6); color:white;">
      <nav class="navbar navbar-expand-lg navbar-dark mt-2">
        <%- include('navbar'); %>
      </nav>
      <div class="text-center my-auto pb-5">
        <h1 style="font-size:3rem">เกี่ยวกับเรา</h1>
        <span>เทพอุดมธรรม ทราเวล รอโอกาสรับใช้ท่านด้วยความกระตือรือร้นอยู่เสมอ</span>
      </div>
    </div>
  </header>
  <article class="mb-5">
    <div class="container mb-5">
      <h2 class="text-center">ภารกิจของเรา</h2>
      <p>เทพอุดมธรรม ทราเวล เป็นผู้ชำนาญจัดทัวร์แสวงบุญ สังเวชนียสถาน 4 ตำบล อินเดีย เนปาล ประเทศพุทธศาสนาศรีลังกา กราบสักการะพระบรมธาตุเขี้ยวแก้วที่ศรีลังกา บูชา 5 สถานอันศักดิ์สิทธ์ประเทศพม่า บุโรพุทโธ บาหลี หลวงพระบาง เวียงจันทร์ นครวัด นครธม
      </p>
      <p>นอกจากนั้นยังชำนาญเส้นทางท่องเที่ยวสถานที่สวยงามอื่นๆ ในประเทศอินเดีย เนปาล ศรีลังกา พม่า อีกด้วย
      </p>
      <p>เทพอุดมธรรม ทราเวล มีหัวทัวร์ดูแลตลอดเส้นทาง ด้วยทีมงานมืออาชีพ บรรยายพุทธประวัติ เส้นทางเดินเผยแผ่ศาสนาตามเส้นทาง ท่านจะได้รับรู้ถึงประวัติสถานที่นั่นๆ ว่ามีส่วนเกี่ยวข้องกับพระพุทธศาสนาอย่างไร
      </p>
      <p>เรามีประสบการณ์ในเส้นทางดังกล่าวสิบกว่าปี เราจึงยินดี รับจัดกรุ๊ปท่องเที่ยวพุทธศาสนา แสวงบุญตามเส้นทางดังกล่าว เป็นกรุ๊ปเหมา กรุ๊ปส่วนตัว อย่างมืออาชีพ
      </p>
      <p>เทพอุดมธรรม ทราเวล มีพันธสัญญาที่จะพาผู้มีจิตศรัทธาที่มีความประสงค์เดินทาง ปลูกศรัทธาในพระพุทธศาสนา เพื่อแสวงบุญ ณ ดินแดนพุทธภูมิ สถานที่สำคัญที่เกี่ยวข้องกับพระพุทธศาสนา ในรูปแบบทัวร์แสวงบุญ และท่องเที่ยว ยังประเทศอินเดีย เนปาล พม่า ศรีลังกา บุโรพุทโธ บาหลี นครวัด นครธม หลวงพระบาง เวียงจันทร์
      </p>
      <p>เทพอุดมธรรม ทราเวล เน้นการให้บริการตามความต้องการทุกความต้องการของท่าน เน้นคุณภาพการให้บริการในทุกๆ ทริป การอุปฐากครูบาอาจารย์ที่ทางคณะแสวงบุญได้นิมนต์ ร่วมเดินทาง เป็นจุดเด่นสำคัญยิ่งที่ทางเรา ให้ความสำคัญอย่างสูงสุด นอกจากนี้ยังยึดหลัก ความสะดวกสบาย ความเอาใจใส่ในบริการ ให้สมกับที่ทุกท่านได้เสียสละ กำลังทรัพย์ เวลา และร่างกายร่วมเดินทางไปกับเรา แล้วท่านจะประทับใจมิรู้ลืม..</p>
    </div>
    <div class="container bg-primary py-5 pb">
      <h2 class="text-light text-center mb-5">ทีมงานของเรา</h2>
      <div class="container">
        <div class="row justify-content-center text-center text-white">
          <div class="col">
            <img src="/images/portrait-1.jpg" class="rounded-circle mb-3" width="200" height="200" alt="">
            <h4>Eleanor Pena</h4>
            <span class="opacity-75">Guide</span>
          </div>
          <div class="col">
            <img src="/images/portrait-2.jpg" class="rounded-circle mb-3" width="200" height="200" alt="">
            <h4>Marvin McKinney</h4>
            <span class="opacity-75">Guide</span>
          </div>
          <div class="col">
            <img src="/images/portrait-3.jpg" class="rounded-circle mb-3" width="200" height="200" alt="">
            <h4>Bessie Cooper</h4>
            <span class="opacity-75">Guide</span>
          </div>
        </div>
      </div>
    </div>
  </article>

  <!-- <div class="section mb-5">
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item slide-img-box active">
            <video controls controlslist="nodownload" class="d-block card-img-fit-parent-box w-100" src="<%- slider.slide1 %>"></video>
            <button class="btn btn-primary position-absolute edit-btn logged-in">แก้ไข</button>
            <div class="input-group position-absolute upload-group start-50 translate-middle-x d-none">
              <input type="file" class="form-control">
              <button class="btn btn-primary d-none" id="slide1" rd-data-doc-id="about">ยืนยัน</button>
              <button class="btn btn-secondary">ยกเลิก</button>
            </div>
          </div>
          <div class="carousel-item slide-img-box">
            <video controls controlslist="nodownload" class="d-block card-img-fit-parent-box w-100" src="<%- slider.slide2 %>"></video>
            <button class="btn btn-primary position-absolute edit-btn logged-in">แก้ไข</button>
            <div class="input-group position-absolute upload-group start-50 translate-middle-x d-none">
              <input type="file" class="form-control">
              <button class="btn btn-primary d-none" id="slide2" rd-data-doc-id="about">ยืนยัน</button>
              <button class="btn btn-secondary">ยกเลิก</button>
            </div>
          </div>
          <div class="carousel-item slide-img-box">
            <video controls controlslist="nodownload" class="d-block card-img-fit-parent-box w-100" src="<%- slider.slide3 %>"></video>
            <button class="btn btn-primary position-absolute edit-btn logged-in">แก้ไข</button>
            <div class="input-group position-absolute upload-group start-50 translate-middle-x d-none">
              <input type="file" class="form-control">
              <button class="btn btn-primary d-none" id="slide3" rd-data-doc-id="about">ยืนยัน</button>
              <button class="btn btn-secondary">ยกเลิก</button>
            </div>
          </div>
          <div class="carousel-item slide-img-box">
            <video controls controlslist="nodownload" class="d-block card-img-fit-parent-box w-100" src="<%- slider.slide4 %>"></video>
            <button class="btn btn-primary position-absolute edit-btn logged-in">แก้ไข</button>
            <div class="input-group position-absolute upload-group start-50 translate-middle-x d-none">
              <input type="file" class="form-control">
              <button class="btn btn-primary d-none" id="slide4" rd-data-doc-id="about">ยืนยัน</button>
              <button class="btn btn-secondary">ยกเลิก</button>
            </div>
          </div>
          <div class="carousel-item slide-img-box">
            <video controls controlslist="nodownload" class="d-block card-img-fit-parent-box w-100" src="<%- slider.slide5 %>"></video>
            <button class="btn btn-primary position-absolute edit-btn logged-in">แก้ไข</button>
            <div class="input-group position-absolute upload-group start-50 translate-middle-x d-none">
              <input type="file" class="form-control">
              <button class="btn btn-primary d-none" id="slide5" rd-data-doc-id="about">ยืนยัน</button>
              <button class="btn btn-secondary">ยกเลิก</button>
            </div>
          </div>
          <div class="carousel-item slide-img-box">
            <video controls controlslist="nodownload" class="d-block card-img-fit-parent-box w-100" src="<%- slider.slide6 %>"></video>
            <button class="btn btn-primary position-absolute edit-btn logged-in">แก้ไข</button>
            <div class="input-group position-absolute upload-group start-50 translate-middle-x d-none">
              <input type="file" class="form-control">
              <button class="btn btn-primary d-none" id="slide6" rd-data-doc-id="about">ยืนยัน</button>
              <button class="btn btn-secondary">ยกเลิก</button>
            </div>
          </div>
          <div class="carousel-item slide-img-box">
            <video controls controlslist="nodownload" class="d-block card-img-fit-parent-box w-100" src="<%- slider.slide7 %>"></video>
            <button class="btn btn-primary position-absolute edit-btn logged-in">แก้ไข</button>
            <div class="input-group position-absolute upload-group start-50 translate-middle-x d-none">
              <input type="file" class="form-control">
              <button class="btn btn-primary d-none" id="slide7" rd-data-doc-id="about">ยืนยัน</button>
              <button class="btn btn-secondary">ยกเลิก</button>
            </div>
          </div>
          <div class="carousel-item slide-img-box">
            <video controls controlslist="nodownload" class="d-block card-img-fit-parent-box w-100" src="<%- slider.slide8 %>"></video>
            <button class="btn btn-primary position-absolute edit-btn logged-in">แก้ไข</button>
            <div class="input-group position-absolute upload-group start-50 translate-middle-x d-none">
              <input type="file" class="form-control">
              <button class="btn btn-primary d-none" id="slide8" rd-data-doc-id="about">ยืนยัน</button>
              <button class="btn btn-secondary">ยกเลิก</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <%- include('footer'); %>
  <script src="dist/about.bundle.js"></script>
</body>
</html>