<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Fri Apr 08 2022 22:53:39 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="6249a010e2c35a4ee39c907c" data-wf-site="6249a010e2c35a26129c907b" lang="th">
<head>
  <meta charset="utf-8">
  <title>ทพอุดมธรรม ทราเวล</title>
  <meta content="รับจัดทัวร์แสวงบุญอินเดีย เนปาล ศรีลังกา พม่า กรุ๊ปเหมา กรุ๊ปส่วนตัว กรุ๊ปท่องเที่ยวอินเดีย เนปาล ศรีลังกา บาหลี นครวัด นครธม หลวงพระบาง" name="description">
  <meta content="ทพอุดมธรรม ทราเวล" property="og:title">
  <meta content="รับจัดทัวร์แสวงบุญอินเดีย เนปาล ศรีลังกา พม่า กรุ๊ปเหมา กรุ๊ปส่วนตัว กรุ๊ปท่องเที่ยวอินเดีย เนปาล ศรีลังกา บาหลี นครวัด นครธม หลวงพระบาง" property="og:description">
  <meta content="https://uploads-ssl.webflow.com/6249a010e2c35a26129c907b/6252b549284d5bda88218036_%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%81%E0%B9%8A%E0%B8%AD%E0%B8%9B%E0%B8%9B%E0%B8%B5%E0%B9%89%E0%B8%A5%E0%B8%B4%E0%B9%89%E0%B8%87.jpg" property="og:image">
  <meta content="ทพอุดมธรรม ทราเวล" property="twitter:title">
  <meta content="รับจัดทัวร์แสวงบุญอินเดีย เนปาล ศรีลังกา พม่า กรุ๊ปเหมา กรุ๊ปส่วนตัว กรุ๊ปท่องเที่ยวอินเดีย เนปาล ศรีลังกา บาหลี นครวัด นครธม หลวงพระบาง" property="twitter:description">
  <meta content="https://uploads-ssl.webflow.com/6249a010e2c35a26129c907b/6252b549284d5bda88218036_%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%81%E0%B9%8A%E0%B8%AD%E0%B8%9B%E0%B8%9B%E0%B8%B5%E0%B9%89%E0%B8%A5%E0%B8%B4%E0%B9%89%E0%B8%87.jpg" property="twitter:image">
  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="/images/favicon.svg" rel="shortcut icon" type="image/x-icon">
  <link href="/images/webclip.svg" rel="apple-touch-icon">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/rayokdesign.css">
</head>
<body>
  <%- include('navbar'); %>
  <div class="section">
    <div class="container mb-3">
      <div id="switch-buttons" class="mb-3">
        <div class="row">
          <div class="col-3 mb-2 d-grid">
            <button class="btn btn-primary active" rd-target="#slide1">Slide 1</button>
          </div>
          <div class="col-3 mb-2 d-grid">
            <button class="btn btn-primary" rd-target="#slide2">Slide 2</button>
          </div>
          <div class="col-3 mb-2 d-grid">
            <button class="btn btn-primary" rd-target="#slide3">Slide 3</button>
          </div>
          <div class="col-3 mb-2 d-grid">
            <button class="btn btn-primary" rd-target="#slide4">Slide 4</button>
          </div>
          <div class="col-3 mb-2 d-grid">
            <button class="btn btn-primary" rd-target="#slide5">Slide 5</button>
          </div>
          <div class="col-3 mb-2 d-grid">
            <button class="btn btn-primary" rd-target="#slide6">Slide 6</button>
          </div>
          <div class="col-3 mb-2 d-grid">
            <button class="btn btn-primary" rd-target="#slide7">Slide 7</button>
          </div>
          <div class="col-3 mb-2 d-grid">
            <button class="btn btn-primary" rd-target="#slide8">Slide 8</button>
          </div>
        </div>
      </div>
      <form id="slide1" action="#" class="">
        <label for="image-url-1" class="form-label">Slide 1 Image URL</label>
        <input class="form-control mb-2" type="text" id="image-url-1" placeholder="Image URL" aria-label="readonly input example" readonly>
        <input class="form-control mb-2" type="file" accept="image/*" id="slide-uploader-1">
        <button type="submit" class="btn btn-primary" disabled>อัพเดท</button>
      </form>
      <form id="slide2" action="#" class="d-none">
        <label for="image-url-2" class="form-label">Slide 2 Image URL</label>
        <input class="form-control mb-2" type="text" id="image-url-2" placeholder="Image URL" aria-label="readonly input example" readonly>
        <input class="form-control mb-2" type="file" accept="image/*" id="slide-uploader-2">
        <button type="submit" class="btn btn-primary" disabled>อัพเดท</button>
      </form>
      <form id="slide3" action="#" class="d-none">
        <label for="image-url-3" class="form-label">Slide 3 Image URL</label>
        <input class="form-control mb-2" type="text" id="image-url-3" placeholder="Image URL" aria-label="readonly input example" readonly>
        <input class="form-control mb-2" type="file" accept="image/*" id="slide-uploader-3">
        <button type="submit" class="btn btn-primary" disabled>อัพเดท</button>
      </form>
      <form id="slide4" action="#" class="d-none">
        <label for="image-url-4" class="form-label">Slide 4 Image URL</label>
        <input class="form-control mb-2" type="text" id="image-url-4" placeholder="Image URL" aria-label="readonly input example" readonly>
        <input class="form-control mb-2" type="file" accept="image/*" id="slide-uploader-4">
        <button type="submit" class="btn btn-primary" disabled>อัพเดท</button>
      </form>
      <form id="slide5" action="#" class="d-none">
        <label for="image-url-5" class="form-label">Slide 5 Image URL</label>
        <input class="form-control mb-2" type="text" id="image-url-5" placeholder="Image URL" aria-label="readonly input example" readonly>
        <input class="form-control mb-2" type="file" accept="image/*" id="slide-uploader-5">
        <button type="submit" class="btn btn-primary" disabled>อัพเดท</button>
      </form>
      <form id="slide6" action="#" class="d-none">
        <label for="image-url-6" class="form-label">Slide 6 Image URL</label>
        <input class="form-control mb-2" type="text" id="image-url-6" placeholder="Image URL" aria-label="readonly input example" readonly>
        <input class="form-control mb-2" type="file" accept="image/*" id="slide-uploader-6">
        <button type="submit" class="btn btn-primary" disabled>อัพเดท</button>
      </form>
      <form id="slide7" action="#" class="d-none">
        <label for="image-url-7" class="form-label">Slide 7 Image URL</label>
        <input class="form-control mb-2" type="text" id="image-url-7" placeholder="Image URL" aria-label="readonly input example" readonly>
        <input class="form-control mb-2" type="file" accept="image/*" id="slide-uploader-7">
        <button type="submit" class="btn btn-primary" disabled>อัพเดท</button>
      </form>
      <form id="slide8" action="#" class="d-none">
        <label for="image-url-8" class="form-label">Slide 8 Image URL</label>
        <input class="form-control mb-2" type="text" id="image-url-8" placeholder="Image URL" aria-label="readonly input example" readonly>
        <input class="form-control mb-2" type="file" accept="image/*" id="slide-uploader-8">
        <button type="submit" class="btn btn-primary" disabled>อัพเดท</button>
      </form>
    </div>
    <div class="container text-primary text-center">
      <span class="fs-5">สิ่งที่คุณต้องการคือเทพอุดมธรรม</span>
      <h1>เที่ยวกับมืออาชีพ เที่ยวกับเรา</h1>
    </div>
  </div>
  <div class="section mb-5">
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item slide-img-box active">
            <img src="<%- slider.slide1 %>" class="d-block card-img-fit-parent-box top-50 start-50 translate-middle" alt="...">
          </div>
          <div class="carousel-item slide-img-box">
            <img src="<%- slider.slide2 %>" class="d-block card-img-fit-parent-box top-50 start-50 translate-middle" alt="...">
          </div>
          <div class="carousel-item slide-img-box">
            <img src="<%- slider.slide3 %>" class="d-block card-img-fit-parent-box top-50 start-50 translate-middle" alt="...">
          </div>
          <div class="carousel-item slide-img-box">
            <img src="<%- slider.slide4 %>" class="d-block card-img-fit-parent-box top-50 start-50 translate-middle" alt="...">
          </div>
          <div class="carousel-item slide-img-box">
            <img src="<%- slider.slide5 %>" class="d-block card-img-fit-parent-box top-50 start-50 translate-middle" alt="...">
          </div>
          <div class="carousel-item slide-img-box">
            <img src="<%- slider.slide6 %>" class="d-block card-img-fit-parent-box top-50 start-50 translate-middle" alt="...">
          </div>
          <div class="carousel-item slide-img-box">
            <img src="<%- slider.slide7 %>" class="d-block card-img-fit-parent-box top-50 start-50 translate-middle" alt="...">
          </div>
          <div class="carousel-item slide-img-box">
            <img src="<%- slider.slide8 %>" class="d-block card-img-fit-parent-box top-50 start-50 translate-middle" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="section mb-5">
    <div class="container">
      <div class="row">
        <div class="col-12 order-1 col-md-6 order-md-0"><img src="/images/home-intro.jpg" class="img-fluid"></div>
        <div class="col-12 order-0 col-md-6 order-md-1">
          <h2 class="text-primary">ทำไมถึงเลือกเทพอุดมธรรม?</h2>
          <p class="fs-4">เทพอุดมธรรมได้ร่วมมือกับประเทศที่จัดเตรียมสถานที่ที่สวยงามกว่า 30 แห่งให้คุณได้เพลิดเพลินและพักผ่อนในเวลาว่างจากความเร่งรีบและคึกคักของชีวิตนี้ ไม่ต้องกังวลคุณจะไม่สูญเสียเพราะเทพอุดมธรรมมีไกด์นำเที่ยวมืออาชีพ 10+ คนด้วย ลูกค้า 5.k+ ของเราพอใจกับบริการที่เรามีให้ ดังนั้นสิ่งที่คุณรอ? มาวางแผนวันหยุดของคุณกับเรากันเถอะ!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section mb-5">
    <div class="container">
      <h2 class="text-primary text-center mb-3">ปลายทางยอดนิยมสำหรับคุณ</h2>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div class="card-img-box">
              <img src="/images/404519515-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">เดลี</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">ป้อมแดงตั้งอยู่ในเมืองเก่าทางตะวันออกเฉียงเหนือของเดลีและเป็นวังของจักรวรรดิโมกุล ปราสาทสไตล์อิสลามแห่งนี้คล้ายกับป้อมอัคราสร้างด้วยหินทรายสีแดงและมีกำแพงเมืองสีแดงตระหง่าน พระราชวังในเมืองทำจากหินอ่อนและทรายสีแดง ก่อนเข้าสู่ปราสาท นักท่องเที่ยวสามารถเดินเล่นไปตามถนนช้อปปิ้งซึ่งขายของที่ระลึกที่มีลักษณะเฉพาะของอินเดีย สนามหญ้านอกปราสาทเป็นสถานที่ที่เหมาะสำหรับการพักผ่อนและเพลิดเพลินกับวิวพระอาทิตย์ตกดินในยามพลบค่ำ</p>
              </div>
              
              <div class="d-flex mb-3">
                <img src="/images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">อินเดีย</div>
              </div>
              <a href="/india" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div class="card-img-box">
              <img src="/images/757543819-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">กาฐมาณฑุ</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">กาฐมาณฑุเป็นเมืองหลวงของประเทศเนปาลและเป็นเมืองท่องเที่ยวที่ใหญ่ที่สุดในประเทศ อยู่ห่างจากระดับน้ำทะเล 1,300 เมตร ปัจจุบันมีสนามบินนานาชาติเพียงแห่งเดียวในเนปาล จึงเป็นจุดหมายแรกสำหรับนักท่องเที่ยวและนักปีนเขาชาวต่างชาติ

                  กาฐมาณฑุมีแหล่งมรดกโลกทั้งหมด 7 แห่ง มีวัดวาอารามและเมืองโบราณอยู่ทุกหนทุกแห่ง เป็นเมืองที่เต็มไปด้วยประวัติศาสตร์และวัฒนธรรมอันยาวนาน</p>
              </div>
              <div class="d-flex mb-3">
                <img src="/images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">เนปาล</div>
              </div>
              <a href="/nepal" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div class="card-img-box">
              <img src="/images/374185558-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">สิกิริยา</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">Lion's Rock หรือที่รู้จักกันในชื่อสามเหลี่ยมทองคำทางวัฒนธรรม เป็นหนึ่งในสถานที่ท่องเที่ยวที่ไม่ควรพลาดในการเดินทางอิสระของศรีลังกาและสิ่งมหัศจรรย์อันดับแปดของโลก The Lion Rock ตั้งอยู่บน Great Plains ในภาคกลางของ Zongiria หินสีน้ำตาลแดงขนาดใหญ่นี้มีเฉพาะตัวของสิงโตและหัวของสิงโตถูกกัดเซาะโดยสภาพอากาศเป็นเวลานาน</p>
              </div>
              <div class="d-flex mb-3">
                <img src="/images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">ศรีลังกา</div>
              </div>
              <a href="/srilanka" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div class="card-img-box">
              <img src="/images/328520822-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">ย่างกุ้ง</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">เจดีย์ชเวดากอง หนึ่งในสามอนุสรณ์สถานสำคัญในเอเชียตะวันออกเฉียงใต้ เป็นสถานที่ท่องเที่ยวที่ไม่ควรพลาดในย่างกุ้ง มีประวัติยาวนานถึง 2,500 ปี ที่นี่คุณสามารถเห็นชาวพม่าจำนวนมากสวดมนต์อย่างเคร่งขรึมและสัมผัสถึงด้านที่แท้จริงและเรียบง่ายที่สุดของพม่า คน ความกตัญญูในใจเป็นเครื่องบ่งชี้ทางจิตวิญญาณของชาวพม่า</p>
              </div>
              <div class="d-flex mb-3">
                <img src="images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">พม่า</div>
              </div>
              <a href="/myanmar" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div style="padding-bottom:calc(100%/4*3); position:relative">
              <img src="/images/1272037927-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">นครวัด</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">นครวัดได้รับเลือกให้เป็นหนึ่งในเจ็ดสิ่งมหัศจรรย์และวัดที่ใหญ่ที่สุดในโลก สร้างขึ้นก่อนศตวรรษที่ 12 มีความตระการตาด้วยสถาปัตยกรรมที่ยิ่งใหญ่และภาพนูนต่ำนูนสูงที่มีรายละเอียด</p>
              </div>
              <div class="d-flex mb-3">
                <img src="images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">กันพูชา</div>
              </div>
              <a href="/cambodia" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div class="card-img-box">
              <img src="/images/369806540-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">บาหลี</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">เยี่ยมชมประตูบาหลีฮันดารา หนึ่งในสถานที่ท่องเที่ยวที่โดดเด่นที่สุดของบาหลี ประตูฮันดาราได้รับความนิยมอย่างล้นหลามจากโซเชียลมีเดีย และตอนนี้ก็เป็นหนึ่งในสถานที่ท่องเที่ยวห้ามพลาดในบาหลี ใช้เวลาที่หน้าประตูฮันดาราและถ่ายรูประหว่างภูมิทัศน์สีเขียวกับประตูบาหลีดั้งเดิมที่แปลกตามาก</p>
              </div>
              <div class="d-flex mb-3">
                <img src="images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">อินโดนีเซีย</div>
              </div>
              <a href="/indonesia" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div style="padding-bottom:calc(100%/4*3); position:relative">
              <img src="/images/1027853701-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">เวียงจันทน์</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">Arc de Triomphe (ลาว: ປະຕູໄຊ Patuxai) เป็นอนุสาวรีย์ในเวียงจันทน์ ประเทศลาว สร้างขึ้นตั้งแต่ปี 1957 ถึง 1968 คล้ายกับ Arc de Triomphe ในฝรั่งเศส แต่มีลักษณะเฉพาะของชนพื้นเมือง เช่น สัตว์ในตำนานที่วาดบนพื้นผิว
              </div>
              <div class="d-flex mb-3">
                <img src="images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">ลาว</div>
              </div>
              <a href="laos" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div class="card-img-box">
              <img src="/images/1220689990-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Dochula Pass</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">เจดีย์อนุสรณ์ 108 แห่งบน Dochula Pass สร้างขึ้นโดยกษัตริย์องค์ที่สี่เพื่อรำลึกถึงชัยชนะของการรณรงค์ของอินเดีย การต่อสู้นำโดยกษัตริย์ซึ่งมีนัยสำคัญอย่างยิ่ง และเจดีย์เหล่านี้ระลึกถึงผู้ที่เสียชีวิตในการรบที่เยส</p>
              </div>
              <div class="d-flex mb-3">
                <img src="images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">ภูฏาน</div>
              </div>
              <a href="/bhutan" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer'); %>
  <script src="dist/index.bundle.js"></script>
</body>
</html>